

@import url("reset.css");

body{
	background-color: rgba(86, 44, 22, 0.431);
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

main{
	margin-bottom: 100px;
}
[class*="__container"] {
	padding: 0px 15px;
	margin: 0 auto;
	max-width: 1200px;
}
header{
	margin-bottom: 50px;
}

h2{
	text-align: center;
	font-size: 100px;
	color:darkslategrey;
}
.content__block {
	background-color: rgba(27, 20, 18, 0.387);
	width: 150px;
	height: 150px;
	margin: 0 auto;
	
}
.content__block:not(:last-child) {
	margin-bottom: 120px;
}
.content__block div{
	color:beige;
	text-transform: uppercase;
	text-align: center;
	width: 150px;
	height: 150px;
}
span{
	position:relative;
	top: 50px;
	display: block;
	
}
.content__translate {
	background-color: rgb(116, 73, 60);
}
.content__translate:hover {
	transform: translate(40px, 10px);
}
.content__scale {
	background-color: rgb(116, 73, 60);
}
.content__scale:hover {
	transform: scale(2);
}
.content__rotate{
	background-color: rgb(116, 73, 60);
}
.content__rotate:hover{
	transform: rotate(260deg);
}
.content__skew{
	background-color: rgb(116, 73, 60);
}
.content__skew:hover{
	transform: skew(40deg, 10deg);
}
.content__matrix{
	background-color: rgb(116, 73, 60);
}
.content__matrix:hover{
	transform: matrix(2, 1, 0, 3, 80, 0);
}
.content__multi{
	background-color: rgb(116, 73, 60);
}
.content__multi:hover{
	transform: translate(10px, 80px) scale(1.5) rotate(75deg);
}
.content__transform{
	background-color: rgb(116, 73, 60);
	transform-origin: 75%;
}
.content__transform:hover{
	transform: rotate(40deg);
}

.content__wrapper3d{
	perspective: 400px;
	transform-style: preserve-3d;
}

.content__perspective{
	background-color: rgb(116, 73, 60);
}
.content__perspective:hover{
	transform: rotateY(-80deg);
}
.content__translate3d{
	background-color: rgb(116, 73, 60);
}
.content__translate3d:hover{
	transform: translate3D(30px, 20px, 0px);
}
.content__scale3d{
	background-color: rgb(116, 73, 60);
}
.content__scale3d:hover{
	transform: scale3d(2, 2, 2);
}
.content__rotate3d{
	background-color: rgb(116, 73, 60);
}
.content__rotate3d:hover{
	transform: rotate3d(1, 1, 1, 45deg);
}
.content__matrix3d{
	background-color: rgb(116, 73, 60);
}
.content__matrix3d:hover{
	transform: matrix3d(0.5, 0, 0.7, 0, 0, 0.91, 0.51, 0, -0.7, -0.9, 0.3, 0, 45, 80, 15, 1);
}
.content__multi3d{
	background-color: rgb(116, 73, 60);
}
.content__multi3d:hover{
	transform: translate3d(20px, 20px, 20px) scale3d(2, 2, 2) rotate3d(1, 1, 1, 20deg);
}
.content__transformstyle-wrapper3d{
	width: 150px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.1);
	perspective: 400px;
	transform-style: preserve-3d;
}
.content__transformstyle{
	background-color: rgb(116, 73, 60);
}
.content__transformstyle:hover{
transform: rotateX(50deg);
}


footer{
	background: url(../img/background.jpeg) 0 bottom / cover no-repeat;
}

.footer__block{
	padding: 300px;	
}

.car {
	width: 800px;
	height: 250px;
	border: 5px solid #000000;
	border-radius: 100px 0px 25px 25px;
	background: linear-gradient(180deg, rgb(187, 83, 83) 0%, rgb(183, 95, 143) 58%, rgb(115, 102, 102) 100%);
}
.car__first-part{
	position: relative;
}

.car__wheel_left{
	position: absolute;
	top: 140px;
	left: 50px;
}

.car__wheel_right {
	position: absolute;
	top: 140px;
	right: 50px;
}

.wheel{
	height: 180px;
	width: 180px;
	border: 10px solid #000000;
	border-radius: 50%;
	outline: 4px dashed #0e0d0de0;
	background-color: #3e3939;	
}

.car__second-part {
	position: absolute;
	top: -200px;
	left: 195px;
	height: 200px;
	width: 600px;
	border: 5px solid rgb(0, 0, 0);
	border-radius: 100px 40px 0px 0;
	background: linear-gradient(180deg, rgb(187, 83, 83) 0%, rgb(183, 95, 143) 58%, rgb(115, 102, 102) 100%);
}

.car__window {
	position: absolute;
	top: 20px;
	left: 20px;
}

.window__item {
	width: 280px;
	height: 160px;
	border: 5px solid rgb(0, 0, 0);
	border-radius: 5px;
	display: inline-block;
	background-color: rgb(3, 0, 0);
}

.window__item_radius {
	width: 250px;
	border-radius: 100px 10px 10px 10px;
}

.car__third-part {
	position: absolute;
	top: -80px;
	right: -75px;
	width: 80px;
	height: 200px;
	border: 5px solid rgba(158, 158, 108, 0.592);
	border-radius: 15px;
	background: black
}
