

@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:500,600&display=swap);

body{
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #212B36;
	background-color: #fff;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}
.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}


[class*="__container"] {
	max-width: 1200px;
	padding: 30px 15px;
	margin: 0 auto;
	min-height: 100px;
}

.menu__item{
	position: relative;
	display: inline-block;
}
.menu__item:first-child {
	margin-right: 55px;
}
.menu__item:not(:last-child) {
	margin-right: 35px;
}
.menu__item:hover .menu__submenu{
	opacity: 1;
	visibility: visible;
}
.menu {
	display: inline-block;
	line-height: 1.5;
}
.header__logo{
	display: inline-block;
	margin-right: 45px;
	vertical-align: middle;
}
.header__social {
	display: inline-block;
	vertical-align: middle;
}
.social__item {
	display: inline-block;
	position: relative;
}
.social__item:not(:last-child) {
	margin-right: 20px;
}
.social__link span {
	display: inline-block;
	text-align: center;
	font-weight: 400;
	font-size: 11px;
	line-height: 1.18;
	position: absolute;
	color: #fff;
	right: -6px;
	top: -5px;
	background: #3056D3;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	padding-top: 2px;
}
.social__item:hover{
	background: #b8c0dcb6;
	border-radius: 40%;;
}
.header__menu {
		margin-right: 125px;
	}

.menu__link:hover,.submenu__link:hover,
.fashion__link:hover {
	color: rgba(48, 86, 211, 1);
}
.menu__link_down{
	background-color: rgb(244, 247, 255);
	padding: 10px 20px;
	border-radius: 5px;
}
.menu__link_down::after {
	content: '';
	display: inline-block;
	background: url(../img/icons/vector.svg) 0 0 no-repeat;
	width: 11px;
	height: 6px;
	margin: 0 0 0 13px;
	position: relative;
	bottom: 3px;
}
.menu__link_down:hover::after {
	transform: scale(1.5);
}
.menu__submenu {
	position: absolute;
	top: 130%;
	left: 0;
	background-color: #fff;
	border-radius: 5px;
	z-index: 2;
	padding: 24px 0;
	min-width: 180px;
	border: 0.5px solid #E7E7E7;
	opacity: 0;
	visibility: hidden;
}
.submenu__link, .fashion__link_subtitle{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
}
.submenu__item {
	position: relative;
	padding: 0 21px;
}
.submenu__item:not(:last-child) {
	margin-bottom: 12px;
}

.submenu__link_down::after {
	content: '';
	display: inline-block;
	background: url(../img/icons/vector.svg) 0 0 no-repeat;
	width: 11px;
	height: 6px;
	margin: 0 0 0 13px;
	position: relative;
	left: 45px;
	bottom: 3px;
	transform: rotate(-90deg);
}

.submenu__block {
	display: inline-block;
	position: absolute;
	top: -31px;
	left: 100%;
	min-width: 652px;
	min-height: 308px;
	background: #FFFFFF;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	padding: 30px;
	opacity: 0;
	visibility: hidden;
}
.submenu__item:hover .submenu__block {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.submenu__link_down:hover::after {
	transform: scale(1.5);
}
.submenu__fashion {
	display: inline-block;
	margin-right: 80px;
}
.submenu__fashion:nth-child(2) {
	margin-right: 68px;
}
.fashion__item-title {
	margin-bottom: 20px;
}
.fashion__item:not(:last-child) {
	margin-bottom: 12px;
}
.sale {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.sale__block {
	text-align: center;
	color: #fff;
	position: absolute;
	top: 70px;
	left: 45px;
}
.sale__discount {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
}
.sale__title {
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 21px;
}
.sale__button {
	display: inline-block;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.2;
	background: #3056D3;
	border-radius: 3px;
	text-shadow: 0px 1px 5px rgb(0 0 0 / 14%);
	padding: 5px 15px;
}
.sale__button:hover {
	background: #1e41b4;
	transform: scale(1.05);
}
main{
	position: relative;
	background-color: rgba(224, 244, 243, 0.58);
}

.one,
.two,
.three {
	padding: 15px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}

.one {
	background-color: #b458df;
	position: sticky;
	top: 100px;
	margin-bottom: 80px;
	z-index: 2;
}

.two {
	background-color: #386ce4;
	position: sticky;
	top: 100px;
	margin-bottom: 10px;
	z-index: 3;
}

.three{
	background-color: #e9b545;
	position: sticky;
	top: 100px;
	margin-bottom: 10px;
	z-index: 4;
}



