/*-----RESET STYLES-----*/

@import url("reset.css");

/*----------------------*/



@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

h2 {
	font-family: "Poppins";
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	margin-bottom: 40px;
	
}
 
.content {
   font-family: 'Poppins';
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
	max-width: 1240px;
	color: #6C757D;
	margin: 0 auto 80px;
	
}

.paragraphs{
	max-width: 816px;
	margin: 0 auto 80px;
}

.first-title {
	max-width: 400px; 
	
}

.second-title{
	max-width: 605px;
}

.small-banner{
	margin: 0 auto;
	max-width: 1240px;
	margin-bottom: 80px;
	border-radius: 5px;
}

.photos{
	font-size: 0px;
	margin: 0 auto 80px;
}

.first-image{
	margin-right: 30px;
	border-radius: 5px;
}

.second-image{
	border-radius: 5px;
}

img{
	max-width: 100%;
}

p{
	margin-bottom: 30px;
}

.big-banner{
	width: 100%;
	margin: 0 auto 100px;
}

.text{
	margin-bottom: 100px;
}


footer {
	max-width: 1240px;
	margin: 0 auto;
	border-top: 9px dotted #000;
	border-right: 9px dashed red;
	border-bottom: 9px solid rgb(169, 19, 229);
	border-left: 9px double green;
}

.test-one{
	padding: 50px;
	outline: 5px solid red;
	max-width: 800px;
	margin: 0 auto 100px;
}

.test-two{
   margin: 0 auto 100px;
	opacity: 0.5;
}

.test-three{
	max-width: 605px;
	margin: 0 auto 100px;
	
}

.test-image{
	border-radius: 18% 82% 34% 66% / 60% 40% 60% 40%;
	box-shadow: 0px 0px 20px 0px #000;
}

.span-one{
	visibility: hidden;
}

.span-two{
	opacity: 0;
}